:host {
  display: flex;
}
 
.btn {
  box-shadow: 0px 12px 30px rgba(24, 92, 255, 0.18);
  border-radius: 6px;
}
.sh1 {
  box-shadow: 0px 2px 20px 17px rgba(24, 92, 255, 0.04);
  border-radius: 6px;
}
.sh2 {
  box-shadow: 0px 12px 30px 17px rgba(24, 92, 255, 0.04);
  border-radius: 6px;
}
.sh3 {
  box-shadow: 0px 4px 12px rgba(24, 92, 255, 0.04);
  border-radius: 6px;
}
